

#hetLand{
    display: flex;
    height:300px;
    width:500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black;
    margin: 20px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 24px 23px 28px 5px rgba(0,0,0,0.44);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 24px 23px 28px 5px rgba(0,0,0,0.44);
}

#name-flag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

#name-flag > img {
    width: 100px;
    height: 60px;

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}